@import "/src/assets/sass/imports/_variables",
  "/src/assets/sass/imports/_mixins", "/src/assets/sass/imports/_reset",
  "/src/assets/sass/imports/_keyframes";
.carrousel {
  //max-width: 120em;
  //padding: 2em;
  //@include neo(1, 1em, 1em);
  overflow: hidden;
  position: relative;
}
.carrousel .grande {
  width: 400%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  //@include neo(1, 1em, 1em);
  //padding: 2em;

  transition: all 0.5s ease;
  transform: translateX(0%);
}
.carrousel .img {
  width: calc(25%);
  min-height: 10vh;
  //@include neo(1, 1em, 1em);
}
.carrousel .puntos {
  width: 100%;
  margin: 1em 0 0;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.carrousel .punto {
  width: 5em;
  height: 5em;
  margin: 1em 1em 0;
  margin-bottom: 4rem;
  @include neo(1, 100em, 0.6em);
  background-color: black;
  color: black;
}
.carrousel .punto.activo {
  background-color: lightblue;
}

@media (max-width: 480px) {
  .carrousel .punto {
    width: 2rem;
    height: 2rem;
  }
  .carrousel .puntos {
    bottom: -54px;
  }
}

@media (min-width: 481px) and (max-width: 800px) {
  .carrousel .punto {
    width: 3rem;
    height: 3rem;
  }
  .carrousel .puntos {
    bottom: -54px;
  }
}
