@import "/src/assets/sass/imports/_variables",
  "/src/assets/sass/imports/_mixins", "/src/assets/sass/imports/_reset",
  "/src/assets/sass/imports/_keyframes";
//max-width: 120em;
// background-color: lightgray;
//padding: 1em;
@include neo(1, 0.5em, 0.3em);
.contenedor {
  //width: 90%;
  //max-width: 120em;
  // background-color: lightgray;
  padding: 1em;
  @include neo(1, 0.5em, 0.3em);
}
.contenedor .ul {
  width: 100%;
  // background-color: lightblue;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.contenedor .li {
  // background-color: lightgreen;
  padding: 1em;
  margin: 0 2em 0 0;
  @include neo(1, 0.5em, 0.3em);
  transition: all 0.5s ease;
  cursor: pointer;
  font-family: SNES Italic;
  font-size: 1.4rem;
}
.contenedor .li.activo {
  background-color: white;
  color: black;
  font-family: SNES Italic;
  font-size: 2rem;
}
.contenedor .subcontenedor {
  min-height: 10vh;
  // background-color: lightsalmon;
  position: relative;
  display: flex;
  justify-content: center;
}
.contenedor .bloque {
  // background-color: lightseagreen;
  height: 1rem;
  margin: 1em;
  padding: 1em;
  position: absolute;
  top: 2em;
  font-family: SNES Italic;
  .descriptionPersonaje {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding-right: 2.5rem;
    h2 {
      font-size: 3rem;
      padding-bottom: 2.2rem;
    }
    p {
      font-size: 2rem;
      width: 24rem;
      letter-spacing: 0.1rem;
    }
  }

  .imagenPersonaje {
    width: 30vh;
  }
  @include neo(1, 1.5em, 0.3em);
  opacity: 0;
  transform: translateY(50%);
  transition: all 0.5s ease;
}
@media (max-width: 730px) {
  .contenedor .ul {
    flex-direction: column;
  }
  .contenedor .li {
    margin: 0em;
  }
  .contenedor .bloque {
    width: 0%;

    .descriptionPersonaje {
      h2 {
        font-size: 2.8rem;
      }
      p {
        font-size: 2.1rem;
      }
    }
    .contenedor .bloque.activo {
      width: 100%;
    }
  }
}
@media (min-width: 730px) and (max-width: 1277px) {
  .contenedor .bloque {
    .descriptionPersonaje {
      width: 80%;
      h2 {
        width: 0rem;
        font-size: 3.8rem;
      }
      p {
        width: 0rem;
        font-size: 3.2rem;
      }
    }
  }
}

.contenedor .bloque.activo {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: lightgray;
  opacity: 0.7;
  .descriptionPersonaje {
    opacity: 1;
    img {
      opacity: 1;
    }
  }
  .imagenPersonaje {
    opacity: 1;
  }
  transform: translateY(0%);
}

@media (min-width: 730px) and (max-width: 1277px) {
  .contenedor .bloque.bloque.activo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 730px) {
  .contenedor .bloque.bloque.activo {
    width: 100%;
    h2 {
      width: 100%;
      font-size: 2.4rem;
    }
    p {
      width: 100%;
      font-size: 1.8rem;
    }
  }
}
