@font-face {
  font-family: "SNES Italic";
  src: url("/src/assets/fonts/SNES_Italic.eot?") format("eot"),
    url("/src/assets/fonts/SNES_Italic.woff") format("woff"),
    url("/src/assets/fonts/SNES_Italic.ttf") format("truetype"),
    url("/src/assets/fonts/SNES_Italic.svg#SNES-Italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tarrget Condensed Italic";
  src: url("/src/assets/fonts/tarrgetcondital.eot") format("eot"),
    url("/src/assets/fonts/tarrgetcondital.woff") format("woff"),
    url("/src/assets/fonts/tarrgetcondital.ttf") format("truetype"),
    url("/src/assets/fonts/tarrgetcondital.svg#TarrgetCondensedItalic")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
.secInicio {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  /*overflow: hidden;
  position: relative;
  height: 60vh;
  */
  .miVideo {
    width: 100%;
    opacity: 0.7;
    //height: 50vh;
    /*position: absolute;
    top: -248px;
    */
  }
  .logoVideo {
    max-width: 15%;
    position: absolute;
    z-index: 0;
  }
}

@media (max-width: 400px) {
  .secInicio {
    width: auto;
    overflow: hidden;
    height: 42rem;
    //height: 461px;
    .miVideo {
      width: auto;
    }
    .logoVideo {
      max-width: 35%;
    }
  }
}

@media (min-width: 401px) and (max-width: 800px) {
  .secInicio {
    width: auto;
    overflow: hidden;
    height: 50rem;
    //height: 461px;
    .miVideo {
      width: auto;
    }
    .logoVideo {
      max-width: 30%;
    }
  }
}
.secDos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  height: 83em;
  background-color: #494949;
  .titulo {
    color: white;
    font-size: 3.8rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    justify-content: center;
    letter-spacing: 3px;
    font-family: SNES Italic;
  }
  .secDosText {
    width: 40%;
    color: white;
    font-size: 2.8rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    justify-content: center;
    letter-spacing: 3px;
    font-family: SNES Italic;
  }
  .secDosH2 {
    color: white;
    font-size: 3rem;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    justify-content: center;
    letter-spacing: 3px;
    font-family: SNES Italic;
  }
}
.contenedorTab {
  @import "../utils/tabs";
  width: 80%;
}

@media (min-width: 900px) and (max-width: 1277px) {
  .secDos {
    height: 147em;
    .titulo {
      font-size: 4.2rem;
    }
    .secDosText {
      width: 80%;
      font-size: 3.8rem;
    }
  }
}

@media (max-width: 900px) {
  .secDos {
    height: 163em;
    .titulo {
      text-align: center;
      font-size: 3.1rem;
      width: 80%;
    }
    .secDosText {
      width: 90%;
      text-align: center;
      font-size: 2.4rem;
    }
    .secDosH2 {
      width: 80%;
      text-align: center;
      font-size: 2.7rem;
    }
  }
}
.secTres {
  .tituloSecTres {
    display: flex;
    background-color: black;
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    .h1-secTres {
      //white-space: pre;
      color: white;
      margin: auto;
      width: 80%;
      font-family: SNES Italic;
      letter-spacing: 0.18em;
      font-size: 35px;
      padding-top: 2%;
      padding-bottom: 3%;
    }
  }
}
.contenedorCarrousel {
  @import "../utils/carrousel";
  display: flex;
  justify-content: center;
}

.miAudio {
  cursor: pointer;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  z-index: 1;
}
